#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
    height: auto;
    min-width: 300px;
}

body{
    background: url("background.jpg") no-repeat center center fixed ;
    background-size: cover;
    width: 100%; 

}


.card
{

    margin-bottom: 10px;
    background-color: red;
    
}



#bottom
{
    
    margin: auto;
    padding: 25px;
}

.active {
    color: blue;
}
a:hover {
    color: red
}




#hoursContent
{
    text-align: center;
}

#locationContent
{
    text-align: center;
    
} 

#link
{
    color: black
}

.nav-link
{
    color: black
}


