#logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 50px;
}

body{
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}


#card
{
    background-color: rgba(100 , 220, 220);
    margin-bottom: 10px
    
}

#bottom
{
    
    margin: auto;
    padding: 25px;
}





#hoursContent
{
    text-align: center;
}

#locationContent
{
    text-align: center;
    
} 

#link
{
    color: black
}

#price 
{
    color: red;
    text-align: right
}
